<h1>Angular Directives Example</h1>
<hr>

<p>
  In this example we will have a look a directives. Angular is shipped with plenty of pre-built directives like <b>NgModel, NgClass, NgIf, NgFor</b>.
  <br>
  We differentiate between structural directives like NgIf, NgFor, NgSwitch and between attribute directives like NgModel, NgClass, NgStyle. 
  <br>
  Note that all of the listet directives above are pre-builtin but we can still create custom ones depending on use cases.
</p>

<app-todo-list></app-todo-list>